<header>
    <img src="img/clovis.jpg" alt="Clovis Gargione - Foto de Perfil" width="130px" height="130px" >
    <h1>Clovis Gargione Rodrigues</h1>
</header>
<aside>
    <div class="container">
        <p>Engenheiro de Software Full-Stack Java | NodeJs | Angular | VueJs</p>
        <p>Blumenau, Santa Catarina, Brasil</p>
        <p>Sou um desenvolvedor Java fullstack com mais de 10 anos de experiência em programação web.<br> 
           Tenho sólida experiência com Java EE, Spring boot, NodeJS, HTML, CSS, Javascript, VueJS, AngularJS e Angular 2+.<br> 
           Gosto de aprender e colocar em prática novas tecnologias e também gosto muito de atuar no frontend.<br> 
           Tenho interesse em realizar atividades e aprender mais sobre DevOps e arquitetura de software.</p>
        <nav>
            <ul>
                <li>
                  <a href="pdf/cv.pdf" target="_blank" class="btn btn-primary">
                    Download Cv
                  </a>
                </li>
        
                <li>
                  <a
                    href="https://linkedin.com/in/clovis-gargione-rodrigues-19269841"
                    target="_blank"
                    class="btn btn-secondary"
                  >
                    LinkedIn
                  </a>
                </li>
                <li>
                    <a
                      href="https://github.com/ClovisGargione"
                      target="_blank"
                      class="btn btn-secondary"
                    >
                      GitHub
                    </a>
                  </li>
              </ul>
        </nav>
        <section>
            <figure>
              <img
                src="icons/whatsapp.svg"
                alt="Ícone para contato do WhatsApp"
                width="22px"
                height="24px"
              />
      
              <figcaption>
                <a
                  href="https://api.whatsapp.com/send?phone=5547997582292&text=Ol%C3%A1%20Clovis,%20preciso%20de%20um%20job!"
                  target="_blank"
                >
                  <strong>Envie uma menssagem para:</strong>
                  <p>WhatsApp: (47) 9 9758-2292</p>
                </a>
              </figcaption>
            </figure>
      
            <figure>
              <img
                src="icons/mail.svg"
                alt="Ícone para contato do e-mail"
                width="22px"
                height="24px"
              />
      
              <figcaption>
                <a href="mailto:clovis.gargione@gmail.com" target="_blank">
                  <strong>Envie uma e-mail para:</strong>
                  <p>clovis.gargione&#64;gmail.com</p>
                </a>
              </figcaption>
            </figure>
        </section>
    </div>
</aside>