:root {
 --primary: rgb(65, 185, 255);
 --primary-010: rgb(0, 162, 255);

 --secundary: #06628a;
 --secundary-010: #06374e;

 --white: #fff;

 --black: #10101a;
 --black-010: #2a2a30;

 --grey: #9b9ba0;
}